{% extends 'phonebook/base.html' %}

{% block content %}
<div>
    <div>
        <div style = "text-align:center;">
            <div class = "input-group">
                <input type = "text" placeholder = "Start Typing" class = "form-control">
                <div class = "input-group-append">
                    <span class = "input-group-text">Search</span>
                </div>
            </div>
        </div>
        <div class = "p-2 mt-3">

            {% for item in contacts %}

            <div class = "trash-token">
                {% csrf_token %}
            </div>
            
            <div class = "bg-light p-3 mb-3" id = "contact-{{ item.id }}">
                <p>{{item.firstname}} {{ item.lastname }}</p>
                <hr>
                <div class = "row">
                    <div class = "col-md-8">
                        <ul>
                            <li>phone: {{ item.phone }}</li>
                            <li>email: {% if item.email %} {{ item.email }} {% else %} <span class = "text-danger">None</span> {% endif %}</li>
                        </ul>
                    </div>
                    <div class = "offset-md-1 col-md-2">
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                              Actions
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                              <li><a class="dropdown-item" href="#">Edit</a></li>
                              <li><a class="dropdown-item bg-danger text-light" href="javascript:void(0)" onclick = "trashContact('{{ item.id }}', 'contact-{{ item.id }}')">Trash</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
    $("#quickAddForm input").addClass('form-control')
    $("#quickAddForm div").addClass('mb-3')

    let message_shown = 0

    $(document).ready(function(){
        const show_message = $(".flash_message").show('fast')
        if(show_message){
            message_shown = 1
        }

        if(message_shown === 1){
            console.log('reached here');
            setTimeout(function(){
                $(".flash_message").hide('fast')
            }, 3000)
        }
    })
</script>

<script>
    let trashContact = (data_id, container_id) => {
        token = $(".trash-token input").val()
        console.log(token)
        const url = `{% url 'phonebook:trash' %}`
        $.post(url, {'id':data_id, 'csrfmiddlewaretoken':token}, function(response){
            switch (response.status){
                case 'success':
                    console.log(response.message)
                    toastr.success(response.message)
                    $(`#${container_id}`).hide('fast');
                    break;
                case 'error':
                    toastr.error(response.error)
                    console.log(response.message)
                    break;
            }
        })
    }
</script>
{% endblock %}